In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/dbf-subm-data/submission_4 (1).csv
/kaggle/input/dbf-subm-data/submission_3 (1).csv
/kaggle/input/dbf-subm-data/submission_2 (1).csv
/kaggle/input/dbf-subm-data/submission_0.csv
/kaggle/input/dbf-subm-data/submission_1 (3).csv
/kaggle/input/bdf-data-rf1/submission_2.csv
/kaggle/input/dbfdatalgbm/submission_2 (1).csv

In [2]:
df_0 = pd.read_csv("../input/dbf-subm-data/submission_0.csv")
df_1 = pd.read_csv("../input/dbf-subm-data/submission_1 (3).csv")
df_2 = pd.read_csv("../input/dbfdatalgbm/submission_2 (1).csv")
df_3 = pd.read_csv("../input/dbf-subm-data/submission_3 (1).csv")
df_4 = pd.read_csv("../input/dbf-subm-data/submission_4 (1).csv")

In [3]:
df_0

      RecordNo  Релевантность
0         3366              0
1         3952              0
2         6852              0
3         4586              0
4         4677              0
...        ...            ...
2070      4661              0
2071      1547              0
2072      6071              1
2073      3805              0
2074       471              0

[2075 rows x 2 columns]

In [4]:

df = df_0.merge(df_1, how='left', on="RecordNo")
df = df.merge(df_2, how='left', on="RecordNo")
df = df.merge(df_3, how='left', on="RecordNo")
df = df.merge(df_4, how='left', on="RecordNo")
df

,RecordNo,Релевантность,Таксономия релевантные,Таксономия не релевантные,Длина отзыва,Ценности
0,3366,0,0,0,0,1
1,3952,0,1,0,1,1
2,6852,0,0,0,0,1
3,4586,0,0,0,1,1
4,4677,0,0,0,0,0
...,...,...,...,...,...,...
2070,4661,0,1,0,0,1
2071,1547,0,0,0,0,0
2072,6071,1,1,0,1,1
2073,3805,0,0,0,0,0
2074,471,0,0,0,1,1

In [5]:
df.to_csv(f'/kaggle/working/submission_2909_2000.csv', index=False)

In [6]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())

RecordNo
3366    1
4938    1
2778    1
7017    1
7937    1
       ..
7682    1
3335    1
2331    1
4738    1
471     1
Name: RecordNo, Length: 2075, dtype: int64
Релевантность
0    1752
1     323
Name: Релевантность, dtype: int64
Таксономия релевантные
0    1162
1     913
Name: Таксономия релевантные, dtype: int64
Таксономия не релевантные
0    2034
1      41
Name: Таксономия не релевантные, dtype: int64
Длина отзыва
0    1626
1     449
Name: Длина отзыва, dtype: int64
Ценности
1    1202
0     873
Name: Ценности, dtype: int64